[submodule "ThirdParty/units"]
	path = ThirdParty/units
	url = ../../LLNL/units.git
[submodule "ThirdParty/spdlog"]
	path = ThirdParty/spdlog
	url = ../../gabime/spdlog.git
[submodule "ThirdParty/utilities"]
	path = ThirdParty/utilities
	url = ../../GMLC-TDC/utilities.git
[submodule "ThirdParty/fmtlib"]
	path = ThirdParty/fmtlib
	url = ../../fmtlib/fmt.git
[submodule "ThirdParty/sundials"]
	path = ThirdParty/sundials
	url = ../../LLNL/sundials.git
[submodule "ThirdParty/jsoncpp"]
	path = ThirdParty/jsoncpp
	url = https://github.com/open-source-parsers/jsoncpp.git
