dist: trusty
language: cpp

cache:
  ccache: true
  directories:
    - dependencies

env:
  global:
    - MAKEFLAGS="-j 2"
    
addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.9

branches:
  except:
    - gh-pages

script:
  - mkdir helics-prefix && pushd helics-prefix
  - wget https://dl.bintray.com/helics/develop/HELICS_2_0/helics-install-$(uname -s).sh
  - chmod 755 *.sh
  - ./helics-install-Linux.sh --skip-license
  - popd
  - helics-prefix/bin/helics_broker --version
  - mkdir build && cd build
  - cmake .. -DAUTOBUILD_HELICS=ON -DBUILD_RELEASE_ONLY=ON
  - make ${MAKEFLAGS}

notifications:
    email: false
