shallow_clone: true

version: 0.2

image: Visual Studio 2015

platform:
  - x64

configuration:
  - Release

install:

before_build:
  - mkdir build
  - cd build
  - cmake .. -G "Visual Studio 14 2015 Win64" -DAUTOBUILD_HELICS=ON -DBUILD_RELEASE_ONLY=ON
  - cd ..

build:
  project: build/HELICS-fmi.sln
  parallel: true
  verbosity: minimal

after_build:

test_script:
  - cd build
  # For controlling which tests get run:
  # ctest -I <start>,<end>,<stride>,<list of test numbers>
  # 1 = common_tests
  # 2 = core tests
  # 3 = application api tests
  # 4 = c interface tests
  # 5 = app tests
  # 6 = travis_tests
  # - ctest -C Release --verbose --timeout 120 -I 0,0,0,1

artifacts:
