version: 2
aliases:
  - &setup_helics_fmi
    name: setup_helics_fmi
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS}
      make -j 4

  - &setup_helics_fmi_low_mem
    name: setup_helics_fmi_low_mem
    environment:
    command: |
      mkdir -p build
      cd build
      eval cmake .. ${CMAKE_FLAGS}
      make -j 2

  - &run_helics_fmi_tests
    name: run_helics_fmi_tests
    command: |
      /root/project/scripts/run-circleci-tests.sh
      RESULT=$?
      exit $RESULT

  - &run_helics_fmi_sanitizer_tests
    name: run_helics_tests
    command: |
      /root/project/scripts/run-circleci-tests-sanitizer.sh
      RESULT=$?
      exit $RESULT

jobs:
  helicsFMIgccTSan:
    docker:
      - image: helics/buildenv:gcc12-builder
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_FLAGS="-fsanitize=thread -g -O1 "  -DHELICS_FMI_BUILD_TESTS=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON  -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON'
      TSAN_OPTIONS: 'second_deadlock_stack=1 suppressions=/root/project/.circleci/tsan_suppression.txt history_size=4'

    steps:
      - checkout
      - run: *setup_helics_fmi_low_mem
      - run: *run_helics_fmi_sanitizer_tests

  helicsFMIgccASan:
    docker:
      - image: helics/buildenv:gcc12-builder
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_FLAGS="-ggdb -fsanitize=address -fno-omit-frame-pointer -static-libstdc++ -static-libasan -lrt -g -O1 "  -DHELICS_FMI_BUILD_TESTS=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'
      LSAN_OPTIONS: 'suppressions=/root/project/.circleci/leak_suppression_gcc.txt'
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_sanitizer_tests

  helicsFMIASan:
    docker:
      - image: helics/buildenv:sanitizers-14
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=undefined,address -lc++ -lc++abi -fsanitize-address-use-after-scope -fsanitize-ignorelist=/root/project/.circleci/asan_suppression.txt -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1  -fsanitize-blacklist=/root/project/.circleci/asan_blacklist.txt"  -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON -DHELICS_ZMQ_SUBPROJECT=ON  -DHELICS_ZMQ_FORCE_SUBPROJECT=ON'
      LSAN_OPTIONS: 'suppressions=/root/project/.circleci/leak_suppression.txt'
      UBSAN_OPTIONS: 'print_stacktrace=1 suppressions=/root/project/.circleci/ubsan_suppression.txt'
      ASAN_OPTIONS: 'alloc_dealloc_mismatch=0'
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_sanitizer_tests

  helicsFMIMSan:
    docker:
      - image: helics/buildenv:sanitizers-14
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=memory -nostdinc++ -nostdlib++ -L/root/develop/libcxx_msan/lib -lc++ -lc++abi -I/root/develop/libcxx_msan/include -I/root/develop/libcxx_msan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O1 -Wl,-rpath,/root/develop/libcxx_msan/lib"  -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON -DHELICS_ZMQ_SUBPROJECT=ON -DHELICS_ZMQ_FORCE_SUBPROJECT=ON'

    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_sanitizer_tests

  helicsFMITSan:
    docker:
      - image: helics/buildenv:sanitizers-14
    environment:
      CMAKE_FLAGS: '-DCMAKE_CXX_COMPILER=clang++ -DCMAKE_C_COMPILER=clang -DCMAKE_CXX_FLAGS="-fsanitize=thread -nostdinc++ -nostdlib++ -L/root/develop/libcxx_tsan/lib -lc++ -lc++abi -I/root/develop/libcxx_tsan/include -I/root/develop/libcxx_tsan/include/c++/v1 -Wno-unused-command-line-argument -fno-omit-frame-pointer -g -O2 -Wl,-rpath,/root/develop/libcxx_tsan/lib"  -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON -DHELICS_ZMQ_SUBPROJECT=ON -DHELICS_ZMQ_FORCE_SUBPROJECT=ON'
      TSAN_OPTIONS: 'suppressions=/root/project/.circleci/tsan_suppression.txt'
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_sanitizer_tests

  gcc12:
    docker:
      - image: helics/buildenv:gcc12-builder
    environment:
      CMAKE_FLAGS: '-DHELICS_FMI_EXTRA_COMPILE_FLAGS=-Wredundant-tags -DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON'
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_tests

  builder:
    docker:
      - image: helics/helics:builder
    environment:
      CMAKE_FLAGS: ''
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_tests

  clang14:
    docker:
      - image: helics/buildenv:clang14-builder
    environment:
      CMAKE_FLAGS: '-DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON -DCMAKE_CXX_STANDARD=20'
    steps:
      - checkout
      - run: *setup_helics_fmi
      - run: *run_helics_fmi_tests

  clang14_cxx23:
    docker:
      - image: helics/buildenv:clang14-builder
    environment:
      CMAKE_FLAGS: '-DHELICS_FMI_FORCE_HELICS_SUBPROJECT=ON -DCMAKE_CXX_STANDARD=23'
    steps:
      - checkout
      - run: *setup_helics_fmi

workflows:
  version: 2
  helics_test:
    jobs:
      - gcc12
      - clang14
      - clang14_cxx23
      - builder
  sanitizers:
    jobs:
      - helicsFMITSan:
          filters:
            branches:
              only:
                - sanitizer_tests
      - helicsFMIASan:
          filters:
            branches:
              only:
                - sanitizer_tests
      - helicsFMIgccASan:
          filters:
            branches:
              only:
                - sanitizer_tests
      - helicsFMIgccTSan:
          filters:
            branches:
              only:
                - sanitizer_tests
      - helicsFMIMSan:
          filters:
            branches:
              only:
                - sanitizer_tests
  nightly:
    triggers:
      - schedule:
          cron: '0 8 * * *'
          filters:
            branches:
              only:
                - main
    jobs:
      - helicsFMITSan
      - helicsFMIASan
      - helicsFMIgccASan
      - helicsFMIgccTSan
      - helicsFMIMSan
